/* Libraries Import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Wrapper */
.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Heading And Text Box */
.heading,
.text
{
    text-decoration: none;
    text-align: center;
    color: white;
    position: relative;
}

/* Text Box */
.text
{
    white-space: wrap;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.10rem;
    font-size: calc(9px + 1.20vw);
    font-weight: 400;
}

/* Heading */
.heading
{
    font-family: "Raleway", sans-serif;
    padding-bottom: 30px;
    font-style: italic;
    font-weight: 600;
}

/* Heading Margin Setting */
@media screen and (max-width: 494px)
{
    /* Heading Element */
    .heading
    {
        margin-top: 24px;
    }
}