.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered h1 {
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.10rem;
    font-weight: 400;
    font-size: calc(30px + 1.10vw);
    text-align: center;
    width: 100%;
    font-style: normal;
}

.centered p {
    padding-top: 18px;
    color: white;
    font-size: calc(9px + 0.7vw);
    white-space: wrap;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.09rem;
}

.bold {
    font-weight: 600;
}