/* Libraries Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Formatting */
*
{
    user-select: none;
    -webkit-user-select: none;
}

/* Body Element */
body
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: black;
}

/* Container */
.container
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: table;
    width: calc(100vw - (1vw * 30));
    transform: translate(-50%,-50%);
    border: 2px solid white;
    border-radius: 16px;
    padding: 2px 2px 2px 2px;
    animation: show-animation 1s ease-out forwards;
}

/* Notice Header */
.heading
{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 12px;
    letter-spacing: 0.15rem;
    font-size: calc(12px + 1.20vw);
    padding: 0px 0px 0px 0px;
    margin-bottom: 12px;
}

/* Description */
.innerText
{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 0.10rem;
    font-size: calc(9px + 1vw);
    margin-bottom: 12px;
    margin-top: 0px;
}

/* Incompatible Devices */
.incompatible
{
    display: none;
    visibility: hidden;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.10rem;
    line-height: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Incompatible Devices Activation */
@media screen and (max-width: 277px)
{
  /* Header And Divisions */
  div:not(.incompatible)
  {
    display: none;
    visibility: hidden;
  }

  /* Incompatibility Screen */
  .incompatible
  {
    color: orange;
    display: block;
    visibility: visible;
    text-align: center;
    font-size: calc(7px + 1.10vw);
  }
}

/* Buttons Seen */
#accept,
#help
{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(9px + 1vw);
    letter-spacing: 0.10rem;
    font-weight: 500;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    border: 0px;
    transition: background-color 0.6s ease, color 0.6s ease;
}

/* Text Padding */
@media screen and (max-width: 800px)
{
    /* Text Box */
    .innerText
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Hover Clause Buttons */
#accept:hover,
#help:hover
{
    cursor: pointer;
    background-color: orange;
    color: black;
    font-weight: 600;
}

/* Opacity Animation */
@keyframes show-animation
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Help Automatic Padding */
@media screen and (min-width: 420px)
{
    /* Help Button */
    #help
    {
        margin-left: 7px;
    }
}

/* Buttons Common Styling */
.buttons
{
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Help Top Margin */
#help
{
    margin-top: 12px;
}