@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
}

body
{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: black;
}

.incompatible
{
    display: none !important;
}

@media screen and (max-width: 300px)
{
    #header,
    div:not(.incompatible)
    {
        display: none !important;
    }

    .incompatible
    {
        color: orange;
        display: block !important;
        font-family: sans-serif;
        letter-spacing: 0.09rem;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        text-align: center;
        font-size: calc(9px + 1vw);
    }
}

#header
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.09rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba( 255, 255, 255, 0.1 );
}

#btn
{
    font-size: 32px;
    border: 2px solid white;
    padding: 3px;
    border-radius: 16px;
}

#btn:hover
{
    color: orange;
    border-color: orange;
    transition: 0.69s ease-in;
}

.logo
{
    font-weight: 300;
    font-size: calc(22px + 1.20vw);
}

@media screen and (max-width: 992px)
{
    #header
    {
        padding: 1.25rem 4%;
    }
}

@media screen and (max-width: 500px)
{
    #btn
    {
        padding: 0px;
        border: none;
    }
}

.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%,-50%);
}

#userProfilePicture
{
    border: 3px solid white;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#userProfilePicture:hover
{
    border-color: orange;
}

#userName
{
    color: white;
    font-family: "Montserrat", sans-serif;
    padding-top: 12px;
    text-align: center;
    letter-spacing: 0.10rem;
    font-size: calc(14px + 1.20vw);
    font-weight: 360;
}

#userDate
{
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(8px + 1.10vw);
    letter-spacing: 0.09rem;
    padding-top: 2px;
    font-weight: 250;
}

.statistics
{
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item .icon
{
    color: white;
    font-size: calc(32px + 1.20vw);
}

.item .text
{
    font-family: "Roboto", sans-serif;
    color: white;
    letter-spacing: 0.09rem;
    font-size: calc(9px + 1.10vw);
    font-weight: 400;
}

.controls
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
}

#resetPassword
{
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    padding: 8px;
    color: white;
    border-radius: 16px;
    font-size: calc(12px + 1.10vw);
    font-family: "Raleway";
    font-weight: 300;
    letter-spacing: 0.10rem;
}

#resetPassword:hover
{
    border-color: red;
    color: red;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.43s;
}

#logOut
{
    margin-top: 12px !important;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    padding: 8px;
    color: white;
    border-radius: 16px;
    font-size: calc(12px + 1.10vw);
    font-family: "Raleway";
    letter-spacing: 0.10rem;
    font-weight: 300;
}

#logOut:hover
{
    border-color: orange;
    color: orange;
    transition: ease-in-out 0.5s;
}