/* Form Element */
#form {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Container */
.container { flex-direction: column; }

/* Form Heading */
.mov {
    color: white;
    font-family: sans-serif;
    padding-bottom: 8px;
    letter-spacing: 0.15rem;
    font-size: calc(18px + 2vw);
    font-weight: 400;
}

/* Input TextBox Class */
.TextBox {
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

/* Element Inside Text Box */
.TextBox > .icon { height: 100%; }

/* Input Common Style Override */
input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: calc(12px + 0.8vw);
    margin-left: 8px;
}

/* Another Icons Class */
.esx {
    font-size: calc(18px + 0.8vw) !important;
}

/* Buttons Class */
.iax {
    outline: none;
    background-color: transparent;
    border: 2px solid orange;
    color: white;
    padding: 8px 0 8px 0;
    border-radius: 5px;
    width: 100%;
    font-size: calc(12px + 0.8vw);
    font-family: Arial, sans-serif;letter-spacing: 0.09rem;
}

/* Flex Gap On Buttons */
.submit { gap: 8px; }

/* Pointer Cursor For User Interactivity */
.submit > button { cursor: pointer; }

/* Note / Return From Server */
#note {
    display: none;
    color: #FF204E;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-size: calc(12px + 0.8vw);
    font-weight: 400;
    animation: shaking 0.3s ease-in-out;
}

/* Note Display Shaking Animation */
@keyframes shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

/* Forgot Password Button */
#forgot {
    font-size: calc(8px + 0.6vw);
    color: white;
    font-family: sans-serif;
    padding-right: 4px;
    cursor: pointer;
}

/* Its Hover Event */
#forgot:hover {
    color: #34A853;
}