.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.container h1
{
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 12px;
    letter-spacing: 0.15rem;
    font-size: calc(18px + 1.20vw);
}

.container a
{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 450;
    letter-spacing: 0.10rem;
    font-size: calc(9px + 1.60vw);
}

.container a:hover
{
    color: orange;
}