/* Centered Container */
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Opacity Text Show Animation */
@keyframes textShow
{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/* Text Element */
.text
{
    text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: calc(18px + 2vw);
    animation: textShow 1.75s steps(40,end);
    animation-fill-mode: forwards;
}