@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    white-space: nowrap;
}

body
{
    background: black;
}

.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 24px 24px 24px 24px;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img
{
    padding-bottom: 8px;
}

.container h1
{
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.10rem;
    font-size: calc(16px + 1.20vw);
    font-weight: 400;
}

#phone
{
    font-weight: 700;
}

.text
{
    padding-top: 12px;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: calc(9px + 0.6vw);
    padding-bottom: 12px;
    letter-spacing: 0.10rem;
    font-weight: 300;
}

.TextBox
{
    display: flex;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 16px;
}

.TextBox input
{
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
    color: white;
}

.TextBox i
{
    color: white;
    font-size: 24px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2px;
}

#next
{
    font-size: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
}

#next:hover
{
    color: orange;
    transition: 0.56s linear;
}

.notice
{
    color: white;
    text-align: center;
    padding-top: 12px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.09rem;
    font-size: calc(8px + 0.6vw);
    white-space: wrap;
    font-weight: 369;
    font-style: italic;
}

@keyframes shake
{
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

#note
{
    color: red;
    font-family: sans-serif;
    letter-spacing: 0.10rem;
    font-size: calc(12px + 0.8vw);
    font-optical-sizing: auto;
    padding-top: 8px;
    font-weight: 400;
    animation: shake 0.25s forwards;
    text-align: center;
    display: none;
}

#buffer
{
    margin-right: 6px;
}