<!--Document Type Definition-->
<!DOCTYPE html>
<!--HTML Beginning-->
<html lang="en">
<!--Website Head Element-->
<head>
    <!--Website Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Website Title-->
    {% block Title %}
    <title>Simple</title>
    {% endblock %}
    <!--SEO Description-->
    {% block Description %}
    <meta name="description" content="A Simple Cards Unification System">
    {% endblock %}
    <!--Google Fonts Preconnect-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Cascading Style Sheets Linking-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'CSS/BasePage.css') }}">
    <!--External CSS Libraries Inclusion-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Jinja Externals Block-->
    {% block Header %}
    {% endblock %}
    <!--Favicon Linking-->
    <link rel="icon" type="images-x/icon" href="{{ url_for('static', filename = 'Images/Favicon.svg') }}">
</head>
<!--Main Website Body Element-->
<body>
    <!--Header Element-->
    <header class="header">
        <!--Logo Element With Reload-->
        <a href="/" class="logo">Simple</a>
        <!--Hamburger Menu Icon-->
        <i class='bx bx-menu' id="menu-icon"></i>
        <!--Navigation Bar Links-->
        <nav class="navbar">
            <a href="about">About</a>
            <a href="services">Services</a>
            <a href="help">Help Center</a>
            <a href="contact">Get In Touch</a>
            <a href="profile">Console</a>
        </nav>
    </header>
    <!--Navigation Bar Background-->
    <div class="nav-bg"></div>
    <!--Text On Incompatible Screens-->
    <div class="incompatible">
        <h1>Incompatible Device</h1>
    </div>
    <!--Custom Code Block-->
    {% block Content %}
    {% endblock %}
    <!--JavaScript Code-->
    <script type="module" src="{{ url_for('static', filename = 'JavaScript/BasePage.js') }}"></script>
</body>
</html>