{% extends "StaticPage.html" %}
{% block title %}
<title>Simple | Create Account</title>
{% endblock %}
{% block Header %}
<script src="{{ url_for('static',filename='JavaScript/CommonScripts.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/CreateAccount.css') }}">
{% endblock %}
{% block Icon %}
<i class='bx bx-menu' id="menu-icon" onclick="hideText('container', 'container')"></i>
{% endblock %}
{% block content %}
<div class="container" id="container">
    <form action="/createAccount" method="post">
        <h1 class="heading">Create Account</h1>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-user-circle'></i>
            </span>
            <input type="text" autocomplete="name" placeholder="Full Name" name="name" required>
        </div>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-envelope'></i>
            </span>
            <input type="email" autocomplete="email" placeholder="Email Address" name="email" required>
        </div>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-voicemail' ></i>
            </span>
            <input type="number" autocomplete="cc-number" placeholder="Phone Number" required name="phone">
        </div>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-key'></i>
            </span>
            <input type="password" autocomplete="new-password" placeholder="Set A Password" required name="password">
        </div>
        <div class="wrapperBTN">
            <button type="submit"><i class='bx bx-right-arrow-circle'></i></button>
        </div>
    </form>
</div>
{% endblock %}