{% extends "StaticPage.html" %}
{% block title %}
<title>Simple | Create Account</title>
{% endblock %}
{% block Header %}
<script src="{{ url_for('static',filename='JavaScript/CommonScripts.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/CreateAccount.css') }}">
<script src="{{ url_for('static',filename='JavaScript/Signup.js') }}"></script>
{% endblock %}
{% block Icon %}
<i class='bx bx-menu' id="menu-icon" onclick="hideText('container', 'container')"></i>
{% endblock %}
{% block content %}
<div class="container" id="container">
    <form method="get">
        <h1 class="heading">Create Account</h1>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-user-circle'></i>
            </span>
            <input id="name" type="text" autocomplete="name" placeholder="Full Name" name="name" required>
        </div>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-envelope'></i>
            </span>
            <input id="email" type="email" autocomplete="email" placeholder="Email Address" name="email" required>
        </div>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-voicemail' ></i>
            </span>
            <input id="phone" class="phno" type="text" autocomplete="cc-number" placeholder="Full Phone Number" required name="phone">
        </div>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-key'></i>
            </span>
            <input id="password" type="password" autocomplete="new-password" placeholder="Set A Password" required name="password">
        </div>
        <h3 id="notifier"></h3>
        <div class="wrapperBTN">
            <button onclick="routeLogin()" id="loginRoute" title="Already Have An Account ?" type="button"><i class='bx bxs-user-check'></i></button>
            <button onclick="signup()" type="button" title="Next"><i class='bx bx-right-arrow-circle'></i></button>
        </div>
    </form>
</div>
{% endblock %}