{% extends "StaticPage.html" %}
{% block title %}
<title>Simple | Login</title>
{% endblock %}
{% block Header %}
<script src="{{ url_for('static',filename='JavaScript/CommonScripts.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/CreateAccount.css') }}">
<script src="{{ url_for('static',filename='JavaScript/LoginPage.js') }}"></script>
{% endblock %}
{% block Icon %}
<i class='bx bx-menu' id="menu-icon" onclick="hideText('container','container')"></i>
{% endblock %}
{% block content %}
<div class="container" id="container">
    <form action="/loginToAccount" method="post">
        <h1 class="heading">Login To Simple</h1>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bx-user-circle'></i>
            </span>
            <input id="email" type="email" autocomplete="email" required name="email" placeholder="Registered Email Address">
        </div>
        <div class="TextBox">
            <span class="icon">
                <i class='bx bxs-lock-alt'></i>
            </span>
            <input type="password" autocomplete="current-password" placeholder="Enter Your Password" required name="password">
        </div>
        <h3 class="notifier" id="notifier">{{ notification }}</h3>
        <div class="wrapperBTN">
            <button onclick="route('/signup')" id="loginRoute" type="button" title="Create An Account Now">
                <i class='bx bx-user-plus'></i>
            </button>
            <button type="submit" title="Login Now">
                <i class='bx bx-right-arrow-circle'></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}