{% extends 'HomePage.html' %}
{% block title %}
<title>Swift | Account</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/CSS/ManageAccount.css">
{% endblock %}
{% block icons %}
<ion-icon class="icon" name="person-circle-outline" title="Manage Account" id="acc"></ion-icon>
<ion-icon class="icon" name="analytics-outline" title="Manage Nodes"></ion-icon>
<ion-icon class="icon" name="card-outline" title="Manage Cards" id="cards"></ion-icon>
{% endblock %}
{% block content %}
<div class="container specialFlexBox">
    <div class="userAccount specialFlexBox" id="idk" style="display: none;">
        <img alt="The User Avatar" class="user" id="avatar" height="52" width="52">
        <span id="userName"></span>
        <div class="stats specialFlexBox">
            <div class="stat specialFlexBox" title="Cards Enrolled">
                <span class="icon">
                    <ion-icon name="card-outline"></ion-icon>
                </span>
                <span class="val" id="cardsCount"></span>
            </div>
            <div class="stat specialFlexBox">
                <span class="icon">
                    <ion-icon name="business-outline"></ion-icon>
                </span>
                <span class="val"></span>
            </div>
            <div class="stat specialFlexBox" title="Active Devices">
                <span class="icon">
                    <ion-icon name="logo-apple-ar"></ion-icon>
                </span>
                <span id="devices" class="val"></span>
            </div>
        </div>
        <div class="controls specialFlexBox">
            <span class="option specialFlexBox" title="User Information">
                <ion-icon name="person-circle-outline"></ion-icon>
            </span>
            <span class="option specialFlexBox" title="Security Settings">
                <ion-icon name="timer-outline"></ion-icon>
            </span>
            <span class="option specialFlexBox" title="Product Settings">
                <ion-icon name="analytics-outline"></ion-icon>
            </span>
            <span id="logout" class="option specialFlexBox" title="Log Out">
                <ion-icon name="log-out-outline"></ion-icon>
            </span>
        </div>
    </div>
</div>
<div class="container specialFlexBox" id="loaderWrapper">
    <div class="loader"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/JavaScript/ManageAccount.js"></script>
{% endblock %}