{% extends 'HomePage.html' %}
{% block title %}
<title>Swift | Linked Nodes</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/CSS/NodesPage.css">
{% endblock %}
{% block icons %}
<ion-icon class="icon" name="person-circle-outline" title="Manage Account" id="acc"></ion-icon>
<ion-icon class="icon" name="analytics-outline" title="Manage Nodes" id="nodes"></ion-icon>
<ion-icon class="icon" name="card-outline" title="Manage Cards" id="cards"></ion-icon>
{% endblock %}
{% block content %}
<div class="container specialFlexBox" style="display: none;flex-direction: column;gap: 8px;" id="root">
    <div id="current" class="specialFlexBox">
        <span class="basics specialFlexBox" style="flex-direction: column;gap: 16px;">
            <img src="/static/Assets/Nodes.svg" id="logoM" alt="Nodes Branding Image" width="48" height="48">
            <span class="flags specialFlexBox">
                <ion-icon class="icon" name="checkmark-circle-outline" title="Activated Node"></ion-icon>
            </span>
        </span>
        <span class="specialFlexBox" style="height: 100%;flex-direction: column;align-items: flex-start;gap: 4px;">
            <h2 id="user" class="texty"></h2>
            <h2 id="number" class="texty"></h2>
            <h2 id="common" class="texty"></h2>
        </span>
    </div>
    <div class="controls" id="controls">
        <ion-icon class="iconN icon" name="arrow-back-circle-outline" title="Previous Node" id="prev"></ion-icon>
        <ion-icon class="iconN icon" name="arrow-forward-circle-outline" title="Next Node" id="next"></ion-icon>
    </div>
</div>
<div class="container specialFlexBox" id="loader">
    <div class="loader"></div>
</div>
<footer class="specialFlexBox" id="footer">
    <ion-icon name="add-outline" title="Enroll A New Node" onclick="window.location.href = '/user/nodes/new'"></ion-icon>
    <ion-icon name="remove-outline" title="Remove This Node" onclick="removeNode()"></ion-icon>
    <ion-icon name="create-outline" title="Edit Common Name" onclick="window.location.href = `/user/nodes/rename?node=${document.getElementById('number').innerHTML}`"></ion-icon>
    <ion-icon name="copy-outline" title="Copy Number To Clipboard" onclick="copyToClipboard()"></ion-icon>
</footer>
<div id="nothing" class="container specialFlexBox" style="display: none;">
    <ion-icon name="logo-apple-ar"></ion-icon>
    <h2>Nothing Here</h2>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/JavaScript/CustomButtons.js" defer></script>
<script src="/static/JavaScript/NodesPage.js" type="module" defer></script>
{% endblock %}