{% extends 'HomePage.html' %}
{% block title %}
<title>Swift | Rename Node</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/CSS/CreateAccount.css" />
{% endblock styles %}
{% block icons %}
<ion-icon class="icon" name="person-circle-outline" title="Manage Account" id="acc"></ion-icon>
<ion-icon class="icon" name="analytics-outline" title="Manage Nodes" id="nodes"></ion-icon>
<ion-icon class="icon" name="card-outline" title="Manage Cards" id="cards"></ion-icon>
{% endblock %}
{% block content %}
<div class="container specialFlexBox">
    <h1 class="mov">Rename Node</h1>
    <form id="form">
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="book-outline" class="esx"></ion-icon>
                <input type="text" name="Node" id="nodeID" placeholder="Enter Node Identifier">
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="sparkles-outline" class="esx"></ion-icon>
                <input type="text" name="Nickname" id="nickname" placeholder="Enter New Nickname">
            </span>
        </div>
        <div class="notifier specialFlexBox">
            <h3 id="note"></h3>
        </div>
        <div class="submit specialFlexBox">
            <button class="iax" type="button" id="rename">Continue</button>
        </div>
    </form>
</div>
{% endblock content %}
{% block scripts %}
<script type="module" src="/static/JavaScript/RenameNode.js" defer></script>
<script src="/static/JavaScript/CustomButtons.js" defer></script>
{% endblock %}