<!--Document Type Definition-->
<!DOCTYPE html>
<!--HTML Beginning-->
<html lang="en">
<!--Website Head Element-->
<head>
    <!--Website Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Simple Card Unification System">
    <!--Website Title-->
    {% block title %}
    <title>Simple</title>
    {% endblock %}
    <!--Internal Cascading Style Sheets Linking-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/StaticPage.css') }}">
    <!--External CSS Libraries Inclusion-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Favicon Setup Code-->
    <link rel="icon" type="images-x/icon" href="{{ url_for('static',filename='Images/Favicon.png') }}">
    <!--Jinja Externals Block-->
    {% block Header %}
    {% endblock %}
    <!--Google Fonts Preconnect-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<!--Main Website Body Element-->
<body>
    <!--Header Element-->
    <header class="header">
        <!--Logo Element With Reload-->
        <a href="/" class="logo">Simple</a>
        <!--Hamburger Menu Icon-->
        {% block Icon %}
        <i class='bx bx-menu' id="menu-icon"></i>
        {% endblock %}
        <!--Navigation Bar Links-->
        <nav class="navbar">
            <a href="about">About</a>
            <a href="services">Services</a>
            <a href="help">Help Center</a>
            <a href="contact">Get In Touch</a>
            <a href="user">Console</a>
        </nav>
    </header>
    <!--Navigation Bar Background-->
    <div class="nav-bg"></div>
    <!--Text On Incompatible Screens-->
    <div class="incompatible">
        <h1>Incompatible Device</h1>
    </div>
    <!--JavaScript Code-->
    <script src="{{ url_for('static',filename='JavaScript/StaticPage.js') }}"></script>
    <!--Custom Code Block-->
    {% block content %}
    {% endblock %}
</body>
</html>