extends HomePage
block title
    title Swift | Create Account
block styles
    link(rel="stylesheet" href="../CSS/CreateAccount.css")
block content
    div.container.specialFlexBox
        h1.mov Create Account
        form(action="/api/accounts/create", method="post", id="form")
            div.TextBox.specialFlexBox
                span.icon.specialFlexBox
                    ion-icon(name="person-circle-outline" class="esx")
                    input(type="text", name="username", autocapitalize="on", placeholder="Enter Your Full Name")
            div.TextBox.specialFlexBox
                span.icon.specialFlexBox
                    ion-icon(name="mail-outline" class="esx")
                    input(type="email", name="email", autocapitalize="off", autocomplete="email", placeholder="Enter Your Email Address")
            div.TextBox.specialFlexBox
                span.icon.specialFlexBox
                    ion-icon(name="recording-outline" class="esx")
                    input(type="text", name="phone", autocapitalize="off", placeholder="Complete Phone Number")
            div.TextBox.specialFlexBox
                span.icon.specialFlexBox
                    ion-icon(name="key-outline" class="esx")
                    input(type="password", name="password", autocapitalize="off", placeholder="Password To Set")
            div.submit.specialFlexBox
                button(type="button" id="submit" class="iax") Create
                button(type="button" id="login" class="iax") Login
block scripts
    script(src="../JavaScript/CreateAccount.js")