extends HomePage
block title
    title Swift | Verify
block styles
    link(rel="stylesheet" href="../CSS/CreateAccount.css")
    link(rel="stylesheet" href="../CSS/VerificationPages.css")
block content
    div.container.specialFlexBox
        ion-icon.mel(name="mail-outline")
        h1.mov Verify Your Email
        form(id="form")
            div.TextBox.specialFlexBox
                span.icon.specialFlexBox
                    ion-icon(name="key-outline" class="esx")
                input(type="number" placeholder="Enter OTP Here" name="otp" id="otp")
            div.notifier.specialFlexBox
                h3(id="note")
            div.submit.specialFlexBox
                button(type="button" id="submit" class="iax") Continue
    footer.specialFlexBox
        p.text.
            We Have Send An OTP To Your Email Address Please Enter It Above
            OTPs Are Private Means Of Authentication And Should Not Be Shared With Anyone At All
            No One From Swift Will Ever Ask For This Information
block scripts
    script(src="../JavaScript/EmailVerification.js" defer)