extends HomePage
block title
    title Swift | Login
block styles
    link(rel="stylesheet" href="../CSS/CreateAccount.css")
block content
    div.container.specialFlexBox
        h1.mov Login To Swift
        form(action="/api/accounts/login", method="post", id="form")
            div.TextBox.specialFlexBox
                span.icon.specialFlexBox
                    ion-icon(name="person-circle-outline" class="esx")
                    input(type="text", name="email", autocapitalize="off", placeholder="Your Email Address")
            div.TextBox.specialFlexBox
                span.icon.specialFlexBox
                    ion-icon(name="key-outline" class="esx")
                    input(type="password", name="password", autocapitalize="off", placeholder="Enter Your Password")
            div.submit.specialFlexBox
                button(type="button" id="login" class="iax") Login Now
            div.submit.specialFlexBox
                button(type="button" id="forgot" class="iax") Forgot Password