{% extends 'HomePage.html' %}
{% block title %}
<title>Cascade | Create Account</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/CSS/CreateAccount.css">
{% endblock %}
{% block content %}
<div class="container specialFlexBox">
    <h1 class="mov">Create Account</h1>
    <form id="form">
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon class="esx" name="person-circle-outline"></ion-icon>
                <input id="name" type="text" name="username" autocapitalize="on" placeholder="Enter Your Full Name"/>
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon class="esx" name="mail-outline"></ion-icon>
                <input id="mail" type="email" name="email" autocapitalize="off" autocomplete="email" placeholder="Enter Your Email Address"/>
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon class="esx" name="recording-outline"></ion-icon>
                <input id="phone" type="text" name="phone" autocapitalize="off" placeholder="Complete Phone Number"/>
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon class="esx" name="key-outline"></ion-icon>
                <input id="password" type="password" name="password" autocapitalize="off" placeholder="Password To Set"/>
                <ion-icon name="eye-outline" id="visibility" onclick="changePasswordVisibility()"></ion-icon>
            </span>
        </div>
        <div class="notifier specialFlexBox">
            <h3 id="note"></h3>
        </div>
        <div class="submit specialFlexBox">
            <button class="iax" type="button" id="submit">Create</button>
            <button class="iax" type="button" id="login">Login</button>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script type="module" src="/static/JavaScript/CreateAccount.js"></script>
<script type="text/javascript">
  function changePasswordVisibility() {
    let field = document.getElementById('password');
    let icon = document.getElementById("visibility");
    if (field.getAttribute("type") === "password") {
      field.setAttribute("type", "text");
      icon.setAttribute("name", "eye-off-outline");
    } else {
      field.setAttribute("type", "password");
      icon.setAttribute("name", "eye-outline");
    }
</script>
{% endblock %}
