{% extends 'EnterpriseHome.html' %}
{% block title %}
<title>Swift Enterprise | Issue Card</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/Styles/EnterpriseAccess.css">
{% endblock %}
{% block content %}
<div class="container specialFlexBox">
    <h1 class="mov">Issue New Card</h1>
    <form id="form">
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="albums-outline" class="esx"></ion-icon>
                <input type="text" name="Card Number" id="number" placeholder="Enter Card Number" required>
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="arrow-up-outline" class="esx"></ion-icon>
                <input type="text" name="Card Validity From" id="from" placeholder="Valid From" required>
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="arrow-down-outline" class="esx"></ion-icon>
                <input type="text" name="Card Validity Till" id="till" placeholder="Valid Till" required>
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="recording-outline" class="esx"></ion-icon>
                <input type="email" name="User Email" id="mail" placeholder="Card Owner Email" required>
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox" style="justify-content: space-around;width: 100%;">   
                <ion-icon name="barcode-outline" class="esx fl" title="CVV" onclick="toggleFlagsInSystem(1)"></ion-icon>
                <ion-icon name="document-lock-outline" class="esx fl" title="Heavily Encrypted" onclick="toggleFlagsInSystem(2)"></ion-icon>
                <ion-icon name="person-circle-outline" class="esx fl" title="Verification Required" onclick="toggleFlagsInSystem(3)"></ion-icon>
            </span>
        </div>
        <div class="TextBox specialFlexBox" style="display: none;" id="cvvField">
            <span class="icon specialFlexBox">
                <ion-icon name="aperture-outline" class="esx"></ion-icon>
                <input type="text" name="Card CVV" id="cvv" placeholder="Enter Card CVV">
            </span>
        </div>
        <div class="notifier specialFlexBox">
            <h3 id="note"></h3>
        </div>
        <div class="submit specialFlexBox">
            <button class="iax" type="button" id="submit">Issue Card</button>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/JavaScript/IssueNewCard.js"></script>
{% endblock %}