{% extends 'EnterpriseHome.html' %}
{% block title %}
<title>Swift Enterprise | Register</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/Styles/EnterpriseAccess.css">    
{% endblock %}
{% block content %}
<div class="container specialFlexBox">
    <h1 class="mov">Register Business</h1>
    <form id="form">
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="business-outline" class="esx"></ion-icon>
                <input id="name" type="text" name="username" autocapitalize="on" placeholder="Business Name"/>
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon class="esx" name="person-circle-outline"></ion-icon>
                <input type="text" name="owner" id="owner" autocapitalize="on" placeholder="Business Primary Owner">
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="mail-outline" class="esx"></ion-icon>
                <input type="text" name="mail" id="email" placeholder="Business Email Address">
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="recording-outline" class="esx"></ion-icon>
                <input type="text" name="phone" id="phone" placeholder="Phone Number">
            </span>
        </div>
        <div class="TextBox specialFlexBox">
            <span class="icon specialFlexBox">
                <ion-icon name="key-outline" class="esx"></ion-icon>
                <input type="password" name="password" id="password" placeholder="Set A Password">
            </span>
        </div>
        <div class="notifier specialFlexBox">
            <h3 id="note">{{ message }}</h3>
        </div>
        <div class="submit specialFlexBox">
            <button class="iax" type="button" id="submit">Create</button>
            <button class="iax" type="button" id="login">Login</button>
        </div>
    </form>
</div>
{% endblock %}