/* Footer Setting */
#footer {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    justify-content: space-around;
}

/* Icon Inside Footer Styling */
footer > ion-icon {
    color: white;
    font-size: calc(24px + 0.6vw);
    padding: 8px 0 8px 0;
    cursor: pointer;
}

/* Hover Clauses */
footer > ion-icon[name="add-outline"]:hover {color: #57A6A1;}
footer > ion-icon[name="copy-outline"]:hover { color: #C8ACD6; }
footer > ion-icon[name="remove-outline"]:hover { color: red; transition: 0.5s linear; }
footer > ion-icon[name="create-outline"]:hover { color: #F2613F; transition: 0.34s ease-in; }

/* No Enrolled Nodes Division */
#nothing {
    color: white;
    flex-direction: column;
    gap: 2px;
    box-sizing: border-box;
}

/* No Nodes Icon */
#nothing > ion-icon {
    font-size: calc(32px + 0.8vw);
}

/* No Nodes Text */
#nothing > h2 {
    font-family: sans-serif;
    letter-spacing: 0.09rem;
    font-weight: 500;
    font-size: calc(18px + 0.6vw);
    white-space: nowrap;
}

/* Icons Modification */
.iconN {
    font-size: calc(32px + 0.5vw) !important;
}

/* Content Root Animation */
@keyframes root {
    from {top: 100%;}
    to {top: 50%;}
}
#root {
    animation: root 0.4s ease-in-out forwards;
}

/* Custom Supplementary Icon Class Hover */
.iconN:hover {
    color: #C8ACD6;
    transition: 0.32s ease-in;
}

/* Current Node */
#current {
    padding: 24px;
    border: 2px solid gold;
    border-radius: 16px 16px 1px 16px;
}

/* Selection Avoided Sections */
.controls { user-select: none; }

/* Basic Properties */
.basics {
    padding-right: 8px;
    border-right: 2px solid #524C42;
}

/* Text Displayed Class */
.texty {
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.07rem;
    font-size: calc(10px + 0.8vw);
    white-space: nowrap;
    padding-left: 24px;
    user-select: none;
}

/* Flags Custom Hover */
ion-icon[name="checkmark-circle-outline"]:hover { color: green; transition: 0.34s ease-in; }

/* Node Nickname */
#common { color: #57A6A1; }